.wrapper {
    font-family: Poppins, sans-serif;
    background-color: rgb(244, 246, 249);
}

.inner {
    padding-block: 60px;

}

.column {}

.heading {
    text-transform: uppercase;
    font-size: 1.15rem;
    color: #111;
    font-weight: 600;
    padding-bottom: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.item {
    color: #0046be;
    font-size: 14px;

    &:hover {
        color: black;
    }
}

.text {
    color: var(--text-light);
    font-size: 14px;
    line-height: 1.35;
}

.label {
    color: #111;
    font-weight: 500;
}

.members {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.member {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    gap: 6px;
}

.student-id {
    font-weight: 500;
    color: var(--primary-1);
}

.student-name {}

.leader {
    font-family: Poppins;
    font-weight: 500;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(14, 0, 251, 1) 0%, rgba(218, 76, 33, 1) 21%, rgba(11, 161, 144, 1) 41%, rgba(118, 6, 173, 1) 62%, rgba(198, 4, 135, 1) 82%, rgba(0, 212, 255, 1) 100%);
    background-clip: text;
    color: transparent;
}