.item-wrapper {
    display: block;
    box-shadow: 4px 3px 12px rgba(0, 0, 0, .05);
    color: #333;
    position: relative;

    &:hover {
        box-shadow: 4px 3px 12px rgba(0, 0, 0, .1);
    }
}

.item-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.item-info {
    text-align: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: transform 200ms linear;
}

.item-name {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    height: 40px;
}

.item-price {
    font-weight: 500;
    color: var(--primary-1);
    font-size: 18px;
}

.item-add {
    margin-inline: auto;
}

.category {
    position: absolute;
    top: 6px;
    left: 6px;
    width: fit-content;
    height: 16px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 3px;
    background-color: rgb(250, 81, 32);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}